.main {
  text-align: center;
}
.list {
  display: flex;
  padding: 5rem;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}
.circle {
  background-color: green;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  font-size: 70px;
  color: white;
}
.icon {
  padding: 4rem;
}
.vol {
  text-underline-position: under;
  text-decoration: underline;
  text-decoration-color: green;
}
