.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}
.left {
}
.list {
  list-style: square;
}

.chat {
  color: white;
  background-color: green;
  border: none;
  font-size: 1.5rem;
  padding: 0.8rem;
  width: 45%;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
}



/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {

}

/* For medium devices */
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 600px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  .left {
  }
  .list {
    list-style: square;
  }
  
  .chat {
    color: white;
    background-color: green;
    border: none;
    font-size: 1.5rem;
    padding: 0.8rem;
    width: 45%;
    height: 45px;
    border-bottom-right-radius: 2rem;
    cursor: pointer;
  }
  
  
  
}
