.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.chat {
  color: white;
  background-color: green;
  border: none;
  font-size: 1.4rem;
  padding: 0.8rem;
  height: 50px;
  width: 45%;
  margin-top: 30px;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
}
.left{
    
}